.profile-div {
  background-color: #1A242D;
  box-shadow: 0 0 5px 1px white;
  max-width: max-content;
}

.champion-card {
  width: max-content;
}

.profile-container {
  background-image: url('../images/img.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
